body {
    background-color: #9E9E9E;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    color: white;
}

.top {
    margin-top: 10em;;
}
.navbar-fixed-bottom{
    background-color: #9E9E9E;
    font-size: 3em;
}
.navbar-fixed-top{
    background-color: #9E9E9E;
    margin-top:1em; 
}

.btn {
    background-color: #009688;
    color: #FFFFFF;
}
.fa {
    color: #FFFFFF;
}

.btn:focus,.btn:active {
    outline: none !important;
}

a {
    color: #FFFFFF !important;
}


