body {
    background-color: #9E9E9E;
}
h1 {
    color: white;
}
.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.top {
    margin-top: 100px;;
}
footer {
    position: absolute;
    bottom:0px;
}
.btn {
    background-color: #009688;
}

.btn:focus,.btn:active {
   outline: none !important;
}