body {
    background-color: #9E9E9E;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    color: white;
}

.top {
    margin-top: 8em;;
}
.top-row {
    margin-top: 1.5em;
}

.navbar-fixed-bottom{
    background-color: #FFFFFF;
    font-size: 3em;
    box-shadow: 0px -3px 5px grey;
    animation-delay: 1s;
}
.navbar-fixed-top{
    background-color: #9E9E9E;
    margin-top:1em;
    animation-delay: 1s;
}

#shorten-btn, #shorten-btn:hover {
    background-color: #009688;
    color: #FFFFFF;
}
#icons > a > .fa {
    color:#757575;
    margin-top:
}

.btn, .btn:focus,.btn:active {
    box-shadow: 4px 4px 4px grey;
}
.input-group {
    box-shadow: 5px 5px 5px grey;
}

a {
    color: #FFFFFF;
}
#api-btn {
    background-color: #FFFFFF;
    color:#757575;
    animation-delay: 1s;
}


@keyframes fadeInUp {
0% {
opacity: 0;
transform: translateY(30px);
}

100% {
opacity: 1;
transform: translateY(0);
}
}

#apilink, #botbar {
    visibility: hidden;
}
#copy-btn {
  background-color: #DDDDDD;
}
